body{
    background-color: brown;
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
}
h5{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}
label{
    color: red;
}
.container{
    background-color: white;
    border-radius: 10px;
    height: 200px;
}
h1, h2{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.result{
    text-align: center;
}
h2{
    text-align: center;
}
label{
    font-size: 15px;
}
img{
    width: 100px;
    margin-top: 10px;
}
span{
    color: darkred;
}
div{
    box-shadow: 10px 10px 10px white;
}
b{
    font-weight: bolder;
    color: black;
}
.footer{
    font-size: 30px;
}